
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using(Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.TextBox("arquivo", null, new { type = "file" })
    <button type="submit">Enviar</button>
}